main.main
    .main__wrapper
        .main__title
            h1 Рабочий стол руководителя
        .main__buttons    
            button.button.main__board Dashboard     
            button.button.main__teamlist Team line up
        .main__chart
            .main__chart-title 
                h3 График отпусков

                .main__year-switch 
                    img.main__arrow.main__arrow-left(srcset="../src/img/svg/ic-left.svg", alt="стрелка налево")
                    h3.main__year 2019
                    img.main__arrow.main__arrow-right(srcset="../src/img/svg/ic-right.svg", alt="стрелка направо")

            .main__list-container
                ul.main__list.main__team
                    li.main__item фамилия, имя
                    li.main__item.main__ivan Иван Иванов 
                    li.main__item.main__katy Катерина Иванова 
                    li.main__item.main__ivan Иван Иванов 
                    li.main__item.main__ivan Иван Иванов 
                    li.main__item.main__ivan Иван Иванов 
                ul.main__list.main__days
                    li.main__item дней
                    li.main__item.main__days-number 14/28
                    li.main__item.main__days-number 14/28 
                    li.main__item.main__days-number 14/28 
                    li.main__item.main__days-number 14/28
                    li.main__item.main__days-number 14/28 
                ul.main__list
                    li.main__item янв
                    li.main__item
                        ul.main__months  
                    li.main__item
                        ul.main__months  
                    li.main__item
                        ul.main__months  
                    li.main__item
                        ul.main__months  
                    li.main__item
                        ul.main__months  
                ul.main__list
                    li.main__item фев
                    li.main__item
                        ul.main__months  
                    li.main__item
                        ul.main__months  
                    li.main__item
                        ul.main__months
                    li.main__item
                        ul.main__months
                    li.main__item
                        ul.main__months
                ul.main__list
                    li.main__item мар
                    li.main__item
                        ul.main__months 
                    li.main__item
                        ul.main__months  
                    li.main__item
                        ul.main__months
                    li.main__item
                        ul.main__months
                    li.main__item
                        ul.main__months
                ul.main__list
                    li.main__item апр
                    li.main__item
                        ul.main__months  
                    li.main__item
                        ul.main__months
                    li.main__item
                        ul.main__months
                    li.main__item
                        ul.main__months
                    li.main__item
                        ul.main__months
                ul.main__list
                    li.main__item май
                    li.main__item
                        ul.main__months  
                    li.main__item
                        ul.main__months
                    li.main__item
                        ul.main__months
                    li.main__item
                        ul.main__months
                    li.main__item
                        ul.main__months
                ul.main__list
                    li.main__item июн
                    li.main__item
                        ul.main__months  
                    li.main__item
                        ul.main__months
                    li.main__item
                        ul.main__months
                    li.main__item
                        ul.main__months
                    li.main__item
                        ul.main__months
                ul.main__list
                    li.main__item июл
                    li.main__item
                        ul.main__months  
                    li.main__item
                        ul.main__months
                    li.main__item
                        ul.main__months
                    li.main__item
                        ul.main__months
                    li.main__item
                        ul.main__months
                ul.main__list
                    li.main__item авг
                    li.main__item
                        ul.main__months  
                    li.main__item
                        ul.main__months
                    li.main__item
                        ul.main__months
                    li.main__item
                        ul.main__months
                    li.main__item
                        ul.main__months
                ul.main__list
                    li.main__item сен
                    li.main__item
                        ul.main__months 
                    li.main__item
                        ul.main__months
                    li.main__item
                        ul.main__months
                    li.main__item
                        ul.main__months
                    li.main__item
                        ul.main__months
                ul.main__list
                    li.main__item окт
                    li.main__item
                        ul.main__months
                    li.main__item
                        ul.main__months
                    li.main__item
                        ul.main__months
                    li.main__item
                        ul.main__months
                    li.main__item
                        ul.main__months
                ul.main__list
                    li.main__item ноя
                    li.main__item
                        ul.main__months
                    li.main__item
                        ul.main__months
                    li.main__item
                        ul.main__months
                    li.main__item
                        ul.main__months
                    li.main__item
                        ul.main__months
                ul.main__list
                    li.main__item дек
                    li.main__item
                        ul.main__months 
                    li.main__item
                        ul.main__months
                    li.main__item
                        ul.main__months
                    li.main__item
                        ul.main__months
                    li.main__item
                        ul.main__months

                
                
            