.calendar
    .calendar__wrapper
        .calendar__header
            .arrow-container
                .arrow-left
            h2 Август 2019
            .arrow-container
                .arrow-right
        .calendar__main
            ul.calendar__list.calendar__monday
                li.calendar__item Пн
            ul.calendar__list.calendar__tuesday
                li.calendar__item Вт
            ul.calendar__list.calendar__wednesday
                li.calendar__item Ср
            ul.calendar__list.calendar__thursday
                li.calendar__item Чт
            ul.calendar__list.calendar__friday
                li.calendar__item Пт
            ul.calendar__list.calendar__saturday
                li.calendar__item Сб
            ul.calendar__list.calendar__sunday
                li.calendar__item Вс
        .calendar__footer
            p Выберите дату не позднее которой хотите вернуться