.calendar {
    cursor: auto;
    position: absolute;
    display: none;
    left: -7.15%;
    top: 42%;
    width: 320px;
    height: 369px;
    background: #FFFFFF;
    border-bottom-right-radius: 29.5px;
    border-bottom-left-radius: 29.5px;
    z-index: 7;
    letter-spacing: normal;

    &.active {
        display: block;
    }

    .arrow-container {
        cursor: pointer;
        width: 37px;
        height: 37px;
    }

    h2 {
        margin-top: 10px;
    }

    .arrow-right {
        right: 15px;
        top: 15px;
    }

    .arrow-left {
        left: 15px;
        top: 15px;
    }

    transform: scale(0.875);
}

.calendar__wrapper {
    margin: 0 20px 20px 20px;
}

.calendar__header,
.calendar__main,
.calendar__footer {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-around;
    
}

.calendar__header {
    justify-content: space-between;
}

.calendar__footer p {
    text-align: center;
    width: 229px;
    font-size: 12px;
    line-height: 14px;
    color: #000000;
}

.calendar__main {
    justify-content: center;
    margin: 0 0 45px 0;
    width: 279.39px;
    height: 240px;
}

.calendar__item {
    font-size: 12px;
    padding: 8.8px;
    cursor: pointer;
    width: 38px;
    height: 38px;
}

.calendar__item:first-child {
    font-weight: bold;
    font-size: 12px;
}

.calendar__today,
.calendar__arrival,
.calendar__departure {
    width: 38px;
    height: 38px;
    font-weight: bold;
    color: #FFFFFF;
    z-index: 20;
}

.calendar__today {
    background: linear-gradient(180deg, #6FCF97 0%, #66D2EA 100%);
    border-radius: 50%;
}

.calendar__arrival {
    position: relative;

    &.active::before {
        content: '';
        position: absolute;
        width: 50%;
        height: 100%;
        top: 0;
        right: 0;
        background: rgb(240, 240, 240);
        z-index: -2;
    }

    &::after {
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        right: 0;
        background: #FFD241;
        border-radius: 50%;
        z-index: -1;
    }
}

.calendar__departure {
    position: relative;

    &.active::before {
        content: '';
        position: absolute;
        width: 50%;
        height: 100%;
        top: 0;
        left: 0;
        background: rgb(240, 240, 240);
        z-index: -2;
    }

    &::after {
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background: #FFD241;
        border-radius: 50%;
        z-index: -1;
    }
}

.calendar__today-between {
    color: #6FCF97;
}

.mark-between {
    background: rgb(240, 240, 240);
    width: 38px;
    height: 38px;

    &.active-left-round {
        border-top-left-radius: 50%;
        border-bottom-left-radius: 50%;
    }

    &.active-right-round {
        border-top-right-radius: 50%;
        border-bottom-right-radius: 50%;
    }
}